<article class="guide-page">
  <div class="container">
    <h1>Guide</h1>
    <p class="section-descr">Мы платим процент от суммы заказа.
      <br> В среднем у нас 7 заказов с каждого клиента.</p>
    <div class="cards-group">
      <div class="card grid-1">
        <div class="card__title">Продажа</div>
        <div class="card__content light-color" fxLayout="column" fxLayoutAlign="start center">
          <img src="/assets/images/tariffs/sales.svg" alt="">
          <div class="value">50%</div>
          <div class="descr">с первой продажи</div>
        </div>
      </div>

      <div class="card grid-2">
        <div class="card__title">Ребилы
          <span class="light-color">*</span>
        </div>
        <div class="card__content-group" fxLayout.xs="column" fxLayoutGap.xs="70px" fxLayout="row" fxLayoutAlign.xs="start" fxLayoutAlign="space-around">

          <div class="card__content light-color" fxLayout="column" fxLayoutAlign="start center">
            <img src="/assets/images/tariffs/rebills-15.svg">
            <div class="value">15%</div>
            <div class="descr">0-100 новых клиентов</div>
          </div>
          <div class="card__content light-color" fxLayout="column" fxLayoutAlign="start center">
            <img src="/assets/images/tariffs/rebills-20.svg">
            <div class="value">20%</div>
            <div class="descr">101+ новых клиентов</div>
          </div>

        </div>
        <p class="hint light-color">
          <sup>*</sup>
          <span class="accent-color">Ребилы</span> – это повторные заказы клиента, начиная со второго.</p>
      </div>
      <div class="card card-descr-content grid-3">
        <p>Эти рейты хоть и достаточно высокие, но не максимальные.</p>
        <p class="smaller-text light-color">Если вы за месяц (30 дней) привели более чем 100 новых клиентов, мы можем обсудить повышение отчислений до 60%. А
          за 200 новых клиентов в месяц (30 дней) – до 70%.</p>
        <p class="smaller-text light-color">
          <span class="accent-color">Cookies</span> – хранятся 90 дней, так что у клиента будет достаточно времени чтобы сделать заказ.</p>
      </div>

      <div class="grid-4">
        <div class="card grid-4-1">
          <div class="card__content light-color">
            <div class="value">$130</div>
            <div class="descr">Средняя цена заказа</div>
          </div>
        </div>
        <div class="card grid-4-2">
          <div class="card__content light-color">
            <div class="value">7</div>
            <div class="descr">Среднее количество заказов от одного клиента.</div>
          </div>
        </div>
        <div class="card grid-4-3">
          <div class="card__content light-color">
            <div class="value">0.8%</div>
            <div class="descr">Показатель отказов (рефандов)</div>
          </div>
        </div>
      </div>
    </div>
    <section class="partners">
      <h3>Партнерская ссылка и Sub_ID</h3>
      <div class="panels-group">
        <div class="panel grid-1">
          <div class="panel__content">
            Свою реферальную ссылку вы можете найти в разделе
            <span class="link" routerLink="/main/promo">Promo</span>.
            <p class="panel__content-descr">Выглядит она следующим образом: </p>
          </div>
          <div class="panel__link bg-accent-color">https://essaywebsite.com/?ref_id=
            <span class="primary-color">XXX</span>
          </div>
          <div class="panel__link link-hint">(где XXX ваш ID в системе)</div>
        </div>
        <div class="panel grid-2">
          <div class="panel__content">
            Для каждого из наших сайтов ссылка будет разной, но принцип компоновки сохраняется.
            <p class="panel__content-descr">Таким образом вы можете добавлять этот параметр к любой странице нашего сайта, просто добавив к ссылке:
              <span
                class="primary-color">?ref_id=XXX</span>. Например:</p>
          </div>
          <div class="panel__link bg-accent-color">https://essaywebsite.com/
            <span class="primary-color">?ref_id=XXX</span>
          </div>
        </div>
        <div class="panel grid-3">
          <div class="panel__content">
            Sub_ID – отличный способ разделять источники вашего трафика.
            <p class="panel__content-descr">К вашей реф-ссылке вы добавляете еще один параметр
              <span class="primary-color">&amp;sub_id=YYY</span>. Выглядит это так: </p>
          </div>
          <div class="panel__link bg-accent-color">https://essaybox.org/?ref_id=XXX
            <span class="primary-color">&amp;sub_id=YYY</span>
          </div>
          <div class="panel__link link-hint">(где
            <span class="primary-color">YYY</span> это ваш
            <span class="primary-color">sub_id</span> длиной не более 7 символов)</div>
        </div>
      </div>
    </section>
    <section class="reffer">
      <h3>Реферальная программа</h3>
      <div class="panels-group">
        <div class="panel grid-1">
          <div class="panel__content">Привлекайте новых партнеров и получайте % от их профита! Вашу реферальную ссылку вы найдете в разделе
            <span class="link" routerLink="/main/profile">Profile</span>.
            <p class="panel__content-descr">Выглядит она следующим образом: </p>
          </div>
            <span class="primary-color">XXXX</span>
          </div>
        </div>

        <div class="cards-group">
          <div class="card grid-1-1">
            <div class="card__content light-color">
              <div class="value">5%</div>
              <div class="descr">от дохода рефералов, для начала</div>
            </div>
          </div>
          <div class="card grid-1-2">
            <div class="card__content light-color">
              <div class="value">7%</div>
              <div class="descr">от дохода рефералов, если за
                <span class="accent-color">месяц</span> ваш заработок от рефералов превышает
                <span class="accent-color">$50</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="section-descr">Детальную информацию по регистрациям вы можете посмотреть в стате за
        <br> каждый отдельный день или в разделе
        <span class="link" routerLink="/main/profile">Profile</span>.</p>
    </section>
    <section class="withdraw">
      <div class="withdraw__content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
        <div class="withdraw__content__left" fxLayout="column" fxLayoutAlign="start start">
          <h3>Выплаты</h3>
          <p>Выплачиваем по запросу, в течение двух рабочих дней. Так же, вы можете включить функцию автозапроса на странице
            Balance, и ваш баланс будет автоматически уходить в запрос каждого 5 числа месяца.</p>
          <p class="small-text">Используем большинство популярных платежных систем, включая PayPal, Webmoney, Epese, Wire Transfer и другие.</p>
        </div>
        <div class="withdraw__content__right" fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="logo"></div>
          <div class="logo"></div>
          <div class="logo"></div>
          <div class="logo"></div>
        </div>
      </div>
    </section>
    <section class="stat">
      <h3>статистика</h3>
      <div class="posts-group" fxLayout="column wrap" fxLayout.xs="column">
        <div class="post">
          <p>Уники</p>
          <p class="small-text">Уникальные посетители пришедшие по вашей реферальной ссылке. Учет уников предельно простой – пользователю прописывается
            cookie с вашим ref_ID при первом посещении нашего платника. </p>
        </div>
        <div class="post">
          <p>Продажи</p>
          <p class="small-text">Количество оплаченых заказов из Inquiries. Другими словами, это количество ваших новых клиентов. </p>
        </div>
        <div class="post">
          <p>Прибыль (ребилы) </p>
          <p class="small-text">Ваш профит с повторных заказов.</p>
        </div>
        <div class="post">
          <p>Отмены</p>
          <p class="small-text">Сумма снятая с вас в результате отмененного заказа или возврата (рефанда). Чаще всего возвраты бывают из-за мошеннических действий клиентов.</p>
        </div>
        <div class="post">
          <p>Общая прибыль</p>
          <p class="small-text">Вся ваша прибыль за вычетом рефандов.</p>
        </div>
        <div class="post">
          <p>Хиты</p>
          <p class="small-text">Количество хитов, или просмотров страниц. Часто является объективным показателем качества трафика. Чем больше хитов по отношению к уникам, тем качественней ваш трафик. Это значит что пользователи не случайные, а заинтересованные в сервисе. </p>
        </div>
        <div class="post">
          <p>Прибыль (продажи)</p>
          <p class="small-text">Ваш профит с новых клиентов.</p>
        </div>
        <div class="post">
          <p>$ на 1к</p>
          <p class="small-text">Усредненный показатель вашей предполагаемой прибыли с 1000 уников.</p>
        </div>
        <div class="post">
          <p>Рефералы</p>
          <p class="small-text">Ваши новые зарегистрированные рефералы.</p>
        </div>
        <div class="post">
          <p>Инквайри</p>
          <p class="small-text">Отображает количество инквайри – не проплаченных заказов. Это значит что клиент оформил заказ, но решил предварительно получить подтверждение что у нас есть кому его писать. После этого, инквайри обычно проплачивается. Так же, довольно часто, в инквайри отображаются фейковые заявки, которые по абсолютно не понятным нам причинам оставляют не известные нам люди. </p>
        </div>
        <div class="post">
          <p>Ребилы</p>
          <p class="small-text">Повторные заказы ваших клиентов. </p>
        </div>
        <div class="post">
          <p>Продажи на 1к</p>
          <p class="small-text">Предполагаемое количество продаж с 1000 уников. </p>
        </div>
        <div class="post">
          <p>Прибиль с рефералов </p>
          <p class="small-text">Прибыль с рефералов. Начисляется в 00:00 UTC.</p>
        </div>
      </div>
    </section>
  </div>
</article>