<article class="pt-form">

  <form class="form" [formGroup]="ptEventsForm">
    <div class="form-images">
      <img class="form-close" src="/assets/images/header/icon-close-form.svg" alt="" (click)="onCloseForm()">
    </div>
    <header>
      <img [src]="siteState?.iconSrc" [alt]="siteState?.name">
      <span>{{ siteState?.name }}</span>
    </header>
    <div class="form-title">События Pixel Tracking</div>
    <div class="descr">Выберите и настройте событие которое вы хотите отслеживать:</div>
    <div
      class="pt-event bg-light-color"
      [ngClass]="{'opened': e.id === selectedPTEvent?.id, enabled: isPTEventExist(e.id)}"
      *ngFor="let e of ptEventsList"
      (click)="onClickPTEvent(e)"
      fxLayout="row wrap"
      fxLayoutAlign="start center">
      <div class="pt-event-status">
      </div>
      <div class="pt-event-title">
        Event "{{ e.name }}"
      </div>
      <eaf-pt-event-form *ngIf="e.id === selectedPTEvent?.id" (changePTEvent)=onAddEvent($event)></eaf-pt-event-form>
    </div>
  </form>
</article>
<article class="pt-event-example">
    <div class="card">
      
    </div>
</article>