<header fxLayout="row wrap" fxLayoutAlign="start center" [ngClass]="{'main-section': isAuth===true}">
  <div *ngIf="isAuth" fxHide.xs class="user-welcome">
    <span class="accent-color">{{'welcome' | translate}}, </span> {{ (userState$ | async).email }}
  </div>
  <img id='header-logo' src="{{deployPath}}/assets/images/header/header-logo.svg" alt="" routerLink="/">
  <ul *ngIf="!isAuth" class="nav-menu" fxHide.xs fxLayout="row" fxFlexOrder.lt-md="1" fxFlex.lt-md="100%" fxLayoutAlign.lt-md="center">
    <li class="nav-menu__item" *ngFor="let navItem of navMenu" routerLink="{{ navItem.url }}" routerLinkActive="active">
      <a>
        {{ navItem.name | translate}}
      </a>
    </li>
  </ul>
  <div *ngIf="isAuth" class="user-details-menu" fxLayout="row" fxLayoutAlign="start" fxFlex.lt-md="100%">
      promo
      <img class="promo-cards promo-card-1" src="/assets/images/main/user-menu/promo-card-1.svg" alt="">
      <img class="promo-cards promo-card-2" src="/assets/images/main/user-menu/promo-card-2.svg" alt="">
      <img class="promo-cards promo-card-3" src="/assets/images/main/user-menu/promo-card-3.svg" alt="">
      <img class="promo-cards promo-card-4" src="/assets/images/main/user-menu/promo-card-4.svg" alt="">
    </div>

    <div class="user-balance">
      <div class="upper-label">{{ 'balance' | translate }}:</div>
      {{ (userState$ | async).balance }} USD
    </div>

    <div eafDropdown class="dropdown-menu user-tariff">
      <div class="upper-label">{{ 'tariff' | translate }}:</div>
      <div class="dropdown-select">
        <span class="user-tariff__icon">
          <img [src]="userTariff.iconSrc" alt="">
        </span>
        <span class="user-tariff__shortsitename" fxHide.md fxHide.xs>{{ userTariff.name }}</span>
        <span class="user-tariff__fo">
          <span fxHide.md fxHide.xs>{{'first order' | translate }}</span>
          <span fxHide.lg fxHide.sm>{{ 'FO' | translate }}</span>: {{ userTariff.fisrtOrderPercent }}%</span>
        <span class="user-tariff__r">
          <span fxHide.md fxHide.xs>{{ 'rebills' | translate }}</span>
          <span fxHide.lg fxHide.sm>{{ 'R' | translate }}</span>: {{ userTariff.rebillsPercent }}%</span>
      </div>
      <ul class="dropdown-list">
        <li class="dropdown-list__item" *ngFor="let tariff of tariffsList" (click)="onChangeTariff(tariff)">
          <span class="user-tariff__icon">
            <img [src]="tariff?.iconSrc" alt="">
          </span>
          <span class="user-tariff__sitename" fxHide.md fxHide.xs>{{ tariff.name }}</span>
          <span class="user-tariff__fo"> {{ 'FO' | translate }}: {{ tariff?.fisrtOrderPercent }}%</span>
          <span class="user-tariff__r"> {{ 'R' | translate }}: {{ tariff?.rebillsPercent }}%</span>
        </li>
      </ul>
    </div>
  </div>

  <div eafDropdown class="dropdown-menu lang-menu">
    <div class="dropdown-select">
      <img class="lang-img" src="{{deployPath}}/assets/images/header/lang-{{userLang}}.svg" alt="">
    </div>

    <ul class="dropdown-list">
      <li class="dropdown-list__item" *ngFor="let lang of langsList" (click)="onChangeLang(lang)">
        <img class="lang-img" src="{{deployPath}}{{lang.img}}" alt="">
      </li>
    </ul>
  </div>

  <div class="user-menu-group" fxLayout.xs="row" fxLayoutAlign.xs="center">
    <button type="button" *ngFor="let item of authMenu" class="user-menu-group__item {{item.item_class}}" (click)="onAuthMenuClick(item.name)">{{ item.name | translate }}</button>
  </div>

  <div class="hamburger_button" fxLayout="column" fxLayoutAlign="center center" (click)="onOpenMobileMenu()"
    [ngClass]="{'opened': isMobileMenuOpened$ | async}">
    <span class="hamburger_item"></span>
    <span class="hamburger_item"></span>
    <span class="hamburger_item"></span>
  </div>

  <ul *ngIf="isAuth" class="user-menu" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100%" fxFlexOrder=3 fxHide.lt-md>
    <li class="nav-menu__item" *ngFor="let navItem of userMenu" routerLink="{{ navItem.url }}" routerLinkActive="active">
      <a *ngIf="navItem.name != 'promo'" fxLayout="row" fxFlexAlign="center">
        <img fxHide.md [src]="navItem.iconSrc" alt="">
        <span>{{ navItem.name | translate }}</span>
      </a>
    </li>
  </ul>

</header>