<section class="contacts">
  <div class="grid grid-1 card">
    <img src="/assets/images/contacts/phone.svg" alt="phone">
    <div class="title">Контакты</div>
    <p class="small-text light-color">Свяжитесь с нами любым удобным способом: email, Skype, ICQ.</p>
    <p class="small-text light-color">Вы так же можете отправить сообщение с этой страницы.</p>
  </div>
  <div class="grid grid-2 card">
    <div class="title">
      Skype
    </div>
  </div>
  <div class="grid grid-3 card">
    <div class="title">
      ICQ
    </div>
  </div>

  <form class="grid grid-4 form" [formGroup]="contactsForm" (ngSubmit)="onSubmit()">
    <div class="title">Send message</div>

    <div class="form-field">
      <label for="name">Name:</label>
      <input id="name" type="text" placeholder="Input your name:" formControlName="name">
      <div class="form-field__actions">
        <span class="form-required">*</span>
        <div *ngIf="contactsForm.controls['name'].errors?.required && contactsForm.controls['name'].touched" class="form-error">
          This field is required
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="email">Email:</label>
      <input id="email" type="email" placeholder="Input your E-mail:" formControlName="email">
      <div class="form-field__actions">

        <span class="form-required">*</span>
        <div *ngIf="contactsForm.controls['email'].invalid && contactsForm.controls['email'].touched && !contactsForm.controls['email'].errors?.required"
          class="form-error">
          Please, enter valid email address
        </div>
        <div *ngIf="contactsForm.controls['email'].errors?.required && contactsForm.controls['email'].touched" class="form-error">
          This field is required
        </div>

      </div>
    </div>

    <div class="form-field">
      <label for="message">Message:</label>
      <textarea id="message" type="text" placeholder="Input your message:" formControlName="message"></textarea>
      <div class="form-field__actions">
        <span class="form-required textarea">*</span>
        <div *ngIf="contactsForm.controls['message'].errors?.required && contactsForm.controls['message'].touched" class="form-error">
          This field is required
        </div>
      </div>
    </div>

    <button type="submit" class="primary btn-lg" [disabled]="contactsForm.invalid">Send</button>

  </form>
</section>