@import 'mixins'
@import 'helper'
@import 'fonts'

html, body
  margin: 0
  width: 100%
  min-height: 100vh
  font-size: 18px
  line-height: 1.3
  color: $mainColor
  @include regular-font()
  moz-osx-font-smoothing: grayscale
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  overflow-x: hidden
  position: relative

div, p, form, section, article, input, textarea, label
  box-sizing: border-box

eaf-root
  display: flex
  flex-direction: column
  min-height: 100vh

eaf-footer
  margin-top: auto

eaf-mobile-menu
  @extend .overlay
  background-color: $lightColor

eaf-login, eaf-signup, eaf-pt-form
  @extend .overlay
  article
    margin-top: 100px

eaf-pt-event-form
  width: 100%

eaf-pt-list
  @extend .overlay
  article
    margin-top: 170px
    
eaf-preloader
  @extend .overlay
  align-items: center
  z-index: 200

eaf-notification
  position: fixed
  top: 50px
  left: 50%
  transform: translateX(-50%)
  max-width: 80%
  box-sizing: border-box
  padding: 30px
  background-color: transparentize($mainColor, 0.3)
  color: $lightColor
  z-index: 300

h1, h2, h3, h4, h5, h6
  @include regular-font()
  font-weight: normal
  margin: 0

h1
  font-size: 36px
  line-height: 44px
  text-transform: uppercase
  text-align: center

h2
  font-size: 36px
  line-height: 44px
  text-align: center

h3
  font-size: 24px
  line-height: 30px
  text-align: center

h4
  font-size: 18px
  line-height: 24px
  text-transform: uppercase
  text-align: center

.small-text
  font-size: 14px

p
  padding: 0
  margin: 0

section
  // padding-left: 280px
  // padding-right: 280px

.container
  width: 1360px
  margin-left: auto
  margin-right: auto

input, textarea
  padding: 0
  border: none
  padding-left: 10px
  padding-right: 10px
  box-shadow: inset 1px 1px 2px 0 transparentize(#000, 0.86)
  font-size: 14px
  @include regular-font()
  color: $mainColor
  &:hover
    background-color: $accentColor-lighter
textarea
  resize: none
  height: 104px
  padding-top: 12px
  padding-bottom: 12px

input, textarea, select, button, a, li, img, div, section, article
  &:focus
    outline-offset: 0
    outline: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

input[type="number"]
  -moz-appearance: textfield

input[disabled]
  background-color: red

a
  font-size: 14px
  color: $primaryColor
  padding-left: 7px
  padding-right: 7px
  cursor: pointer
  text-decoration: underline
  &:hover
    color: $primaryColor-darker
  &.download-link
    font-size: 12px
    padding-right: 0
*::-webkit-input-placeholder
	color: $placeholderColor
	opacity: 1

*:-moz-placeholder
	color: $placeholderColor
	opacity: 1

*::-moz-placeholder
	color: $placeholderColor
	opacity: 1

*:-ms-input-placeholder
	color: $placeholderColor
	opacity: 1

  
.form
  max-width: 670px
  padding: 120px
  background-color: $formColor
  position: relative
  .form-images
    position: absolute
    width: 100%
    left: 0
    top: 0 
    cursor: pointer
    .form-logo
      position: absolute
      left: 120px
      top: 60px
    .form-close
      position: absolute
      right: 30px
      top: 30px
  .title
    font-size: 18px
    text-transform: uppercase
    text-align: left
    margin-bottom: 20px

.form-field
  position: relative
  margin-bottom: 20px
  label
    display: inline-block
    font-size: 14px
    margin-bottom: 12px
  &__descr
    font-size: 10px
    line-height: 10px
    margin-bottom: 10px
  &-image
    margin-left: 10px
    margin-right: 10px
  input
    width: 100%
    height: 40px
    border-radius: 2px
    &.ng-touched.ng-invalid
      border: 1px solid red
  textarea
    width: 100%
    height: 104px
    border-radius: 2px
    &.ng-touched.ng-invalid
      border: 1px solid red
  &__actions
    position: relative
    .form-clear
      position: absolute
      width: 10px
      height: 10px
      top: -20px
      right: 10px
      cursor: pointer
      &:before
        position: absolute
        content: ''
        width: 1px
        height: 100%
        border-right: 1px solid $mainColor
        left: 4px
        transform: rotate(45deg)
      &:after
        position: absolute
        content: ''
        width: 100%
        height: 1px
        border-top: 1px solid $mainColor
        top: 5px
        transform: rotate(45deg)
    .form-required
      position: absolute
      color: red
      right: 7px
      top: -33px
      &.textarea
        top: -103px
    .form-hint
    .form-error
      position: absolute
      color: red
      font-size: 12px
      width: max-content
      top: 4px
      left: 10px
      &.form-field-required
        position: absolute
  &.main-theme
    input, textarea
      border: 0.5px solid $lightColor
      color: $lightColor
      background-color: $mainColor


.form-field-group
  border-radius: 2px
  & *
    border-radius: 0 !important
  & *:first-child
    border-top-left-radius: 2px !important
    border-bottom-left-radius: 2px !important
  & *:last-child
    border-top-right-radius: 2px !important
    border-bottom-right-radius: 2px !important


.term-selector
  cursor: pointer
  width: 124px
  height: 39px
  position: relative
  .term-selector-wrapper
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background: url('/assets/images/header/dropdown-icon.svg') no-repeat calc(100% - 12px) center
    &:hover
      background-color: transparentize($accentColor, 0.85)

  input
    width: calc(100% - 30px)
    height: 100%
    margin: 0
    padding-left: 15px
    padding-right: 0
    text-align: center
    box-shadow: none
    cursor: pointer

.mat-datepicker-content .mat-calendar
  background-color: $formColor
.mat-calendar-body-selected
  background-color: $accentColor
  color: $mainColor

.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected), .cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected), :not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected)
  background-color: $accentColor-lighter

@include desktop-screen()
  section
    // padding-left: 210px
    // padding-right: 210px
  .container
    // width: 920px
    width: 1020px

@include tablet-screen()
  section
    // padding-left: 50px
    // padding-right: 50px
  .container
    width: 671px

@include mobile-screen()
  html, body
    font-size: 14px
  h1, h2
    font-size: 24px
    line-height: 30px
  h3
    font-size: 18px
    line-height: 24px

  section
    // padding-left: 17px
    // padding-right: 17px
  .container
    width: 326px
  
  .form
    padding-left: 30px
    padding-right: 30px
    .form-images 
      .form-logo
        left: 30px

  .term-selector
    .term-selector-wrapper
      background: url('/assets/images/header/dropdown-icon.svg') no-repeat calc(100% - 8px) center
    input
      width: calc(100% - 26px)
      padding-left: 10px
      font-size: 12px
  