@import 'variables'
@import mixins
  
ul, nav
  list-style: none
  padding: 0
  margin: 0

.hidden
  display: none !important

.selection
  display: inline-block
  padding: 5px 10px 0

.no-scroll
  width: 100%
  height: 100%
  // overflow: hidden  

.light-color
  color: $lightColor
.primary-color
  color: $primaryColor
.accent-color
  color: $accentColor
.notice-color
  color: $noticeColor

.bg-main-color
  background-color: $mainColor
.bg-primary-color
  background-color: $primaryColor
.bg-accent-color
  background-color: $accentColor
.bg-accent-darker-color
  background-color: $accentColor-darker
.bg-list-color, .bg-form-color
  background-color: $formColor
.bg-list-lighter-color
  background-color: $formColor-lighter
.bg-light-color
  background-color: $lightColor
.bg-post-color
  background-color: $postColor

button
  background-color: $lightColor
  border: none
  border-radius: 2px
  box-sizing: border-box
  min-width: 118px
  height: 40px
  line-height: 40px
  text-align: center
  font-size: 18px
  padding: 0 25px
  cursor: pointer
  &:first-letter
    text-transform: capitalize
  &.primary
    color: $lightColor
    background-color: $primaryColor
    &:hover
      background-color: $primaryColor-darker
    &.active
      color: $mainColor
      background-color: $accentColor
    &.disabled, &[disabled]
      cursor: not-allowed    
      color: $inactiveColor
      background-color: $formColor
  &.secondary
    color: $primaryColor
    border: 0.5px solid $primaryColor
    &:hover
      color: $primaryColor-darker
      border: 0.5px solid $primaryColor-darker
    &.active
      color: $mainColor
      background-color: $accentColor
      border: none
    &.disabled, &[disabled]
      cursor: not-allowed    
      color: $inactiveColor
      border: 0.5px solid $inactiveColor    
      background-color: $lightColor
  &.accent
    color: $mainColor
    background-color: $accentColor
    &.disabled, &[disabled]
      cursor: not-allowed    
      color: $inactiveColor
      background-color: $formColor
  &.main
    color: $lightColor
    background-color: $mainColor
    border: 0.5px solid $lightColor
    &:hover
      color: $mainColor
      background-color: $accentColor
      border: 0.5px solid $accentColor
    &.disabled, &[disabled]
      cursor: not-allowed
      color: $inactiveColor
      background-color: $formColor     

  &.btn-sm
    width: 100px
    min-width: 100px
    height: 30px
    line-height: 29px
  &.btn-md
    width: 150px
  &.btn-lg
    width: 170px
  &.btn-xl
    width: 230px
  &.btn-xxl
    width: 310px
    height: 60px
    font-size: 24px

  &:not(:last-child)
    margin-right: 15px
    
.card
  width: 326px
  min-height: 226px
  padding: 30px
  color: $accentColor
  background-color: $mainColor
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &.high-card
    min-height: 472px
  .footer
    margin: 0 -30px -30px
    padding: 0 30px
    height: 48px
    font-size: 12px
    line-height: 48px
    cursor: pointer
    .action
      text-align: right
    .arrow-next
      @include triangle-right(4px, $accentColor)
    &:hover
      color: $mainColor
      background-color: $accentColor
      .arrow-next
        @include triangle-right(4px, $mainColor)

.link-group
  a:not(:last-child)
    border-right: 1px solid $placeholderColor

.upper-label
  position: absolute
  left: 0
  top: -27px
  font-size: 12px
  line-height: 14px
  color: $mainColor
  text-transform: capitalize

.dropdown-menu
  position: relative
  height: 40px
  padding-left: 15px
  padding-right: 43px
  cursor: pointer
  color: $mainColor
  font-size: 12px
  line-height: 40px
  background-color: $formColor
  background-image: url('/assets/images/header/dropdown-icon.svg')
  background-repeat: no-repeat
  background-position-x: calc(100% - 15px)
  background-position-y: center
  border-radius: 2px
  .dropdown-item-icon
    width: auto
    height: 100%
    display: flex
    justify-content: center
    margin-right: 8px

  &:hover
    background-color: $accentColor-lighter !important

  .dropdown-select, .dropdown-list__item
    display: flex
    flex-flow: row
    justify-content: flex-start
    align-items: center
    height: 100%
    
  .dropdown-list
    width: 100%
    display: none
    border-radius: 2px
    overflow: hidden
    position: absolute
    left: 0
    top: 0
    z-index: 2
    box-shadow: rgba($color: #BAC3D3, $alpha: 0.14) 0 8px 10px 1px, rgba($color: #BAC3D3, $alpha: 0.12) 0 3px 14px 3px, rgba($color: #BAC3D3, $alpha: 0.20) 0 4px 5px 0

    &__item
      justify-content: flex-start
      width: 100%
      height: 40px
      padding: 0 15px
      box-sizing: border-box
      color: $mainColor
      background-color: $formColor
      &:hover
        background-color: $accentColor-lighter !important
  &.opened
    .dropdown-list
      display: block
  &.main-theme
    color: $lightColor
    background-color: $mainColor
    background-image: url('/assets/images/header/dropdown-icon-active.svg')
    border: 0.5px solid $lightColor
    &:hover
      color: $mainColor
      background-color: $accentColor !important
      background-image: url('/assets/images/header/dropdown-icon.svg')
      border: 0.5px solid $accentColor
    

.select-menu
  &:not(:last-child)
    border-bottom: 1px solid $lightColor
  & > input:checked
    & ~ .select-menu__title
      .caret
        transform: rotate(180deg)
    & ~ .select-menu__list
      display: block
  &__title
    position: relative
    display: inline-block
    width: 100%
    line-height: 40px
    padding: 0 20px
    font-size: 14px
    cursor: pointer
    .caret
      position: absolute
      top: 0
      right: 0
      width: 40px
      height: 100%
      content: ''
      background: url('/assets/images/header/dropdown-icon.svg') no-repeat center

    &:hover
      background-color: $accentColor-lighter
  &__list
    display: none
    margin-top: 10px
    margin-bottom: 10px
  &__item
    font-size: 12px
    padding-left: 20px
    cursor: pointer

    &:hover
      background-color: $accentColor-lighter
    label
      display: inline-block
      width: 100%
      height: 20px
      line-height: 20px
      padding-left: 23px
      position: relative
      cursor: pointer

    




// checkbox
input:checked + label
  .check
    background-color: $mainColor !important
    &:before
      content: ''
      position: absolute
      width: 6px
      height: 2px
      top: 4px
      left: 2px
      background-color: $lightColor !important
    &:after
      content: ''
      position: absolute
      width: 2px
      height: 6px
      top: 2px
      left: 4px
      background-color: $lightColor !important

label
  position: relative
  .check
    position: absolute
    display: block
    width: 10px
    height: 10px
    left: 0
    top: 4px
    border: 1px solid $mainColor


.switches-group
  input
    display: none
    &:checked + label
      background-color: $accentColor !important
  label
    margin-bottom: 0
    width: 144px
    height: 40px
    line-height: 40px
    background-color: $lightColor
    text-align: center
    cursor: pointer
    &:first-of-type
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px
      
    &:last-of-type
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px

.overlay
  position: fixed
  left: 0
  top: 0
  background: rgba(0,0,0, .5)
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  z-index: 100

.time-with-clock
  display: inline-block
  min-width: 15px
  padding-left: 20px
  background: url(/assets/images/main/graph/time-icon.svg) no-repeat left center

.table
  .table__head, .table__foot
    .table__cell
      background-color: $formColor
      cursor: default
  .table__body
    .table__row
      cursor: pointer
      &:hover
        background-color: $accentColor-lighter
        // .table__cell
        //   background-color: $accentColor-lighter
      .table__cell
        font-size: 12px

  .table__cell
    padding-left: 12px
    padding-right: 12px
    font-size: 12px    
    height: 40px
    line-height: 40px
    text-align: center

.table-group
  margin-bottom: 40px
  padding-left: 30px
  padding-right: 30px
  &__head
    margin-bottom: 20px

.collapse-table
  .table__body
    overflow-x: scroll

  .table__cell
    display: flex
    line-height: 12px
    justify-content: center
    align-items: center
    flex-shrink: 0



.user-promo
  margin-left: 55px
  margin-right: auto
  width: 118px
  height: 40px
  line-height: 40px
  text-transform: uppercase
  text-align: center
  @include medium-font()
  letter-spacing: 0.1em
  padding-left: 5px
  font-size: 20px
  color: $mainColor
  background-color: $accentColor
  cursor: pointer
  position: relative
  transition: 0.55s ease
  .promo-cards
    position: absolute
    z-index: -1
    transition: 0.5s ease        
    &.promo-card-1
      top: -15px
      left: 10.17%
      transform: rotate(-17deg)
    &.promo-card-2
      top: -17px
      left: 27.12%
      transform: rotate(-5deg)          
      z-index: -2
    &.promo-card-3
      top: -15px
      left: 44.92%
      transform: rotate(6deg)
    &.promo-card-4
      top: -13px
      left: 62.71%
      transform: rotate(17deg)
      z-index: -2
  &:hover
    color: $accentColor
    background-color: $mainColor
    .promo-cards
      &.promo-card-1
        top: -23px
      &.promo-card-2
        top: -26px
      &.promo-card-3
        top: -29px
      &.promo-card-4
        top: -22px


@media(max-width: 1399px)
  // 
@media(max-width: 1023px) 
  .collapse-table
    .table__body
      .table__row
        &:hover
          background-color: transparent
@media(max-width: 767px)
  .card
    .title
      font-size: 18px
  .dropdown-menu
    height: 30px
    font-size: 10px
    line-height: 30px
    padding-left: 10px
    padding-right: 30px
    background-position-x: calc(100% - 10px)
    .dropdown-list
      &__item
        height: 30px
        line-height: 30px

  .table-group
    width: 360px
    padding: 0
    margin-left: -20px
    margin-bottom: 30px
    &__head
      margin-left: 20px
      &__name, &__period
        font-size: 18px
    &__body
      overflow-x: scroll
    @include fade-to-left-inner
    @include fade-to-right-inner