@import variables
@import mixins

.cards-group
  display: grid
  grid-template-columns: repeat(4, 326px)
  grid-gap: 20px
  margin-bottom: 40px
  
.card
  justify-content: flex-start
  align-items: stretch
  background-repeat: no-repeat
  background-position: center

.card-1
  background-image: url('/assets/images/main/postback/stat-icon.svg')

.card-2
  background-image: url('/assets/images/main/postback/adjust-icon.svg')

.card-intro
  .title
    margin-bottom: auto
  .content
    margin-bottom: 22px
  p
    font-size: 14px
    text-align: right

.card-new
  background-color: transparent
  border: solid 1px transparent
  border-image: url('/assets/images/main/postback/new-border.svg') 1 round
  padding: 50px
  cursor: pointer
  h4
    color: $primaryColor
    margin-bottom: auto
  &:hover
    background-color: $accentColor-lighter



